.manageTraderPasswordButton {
    border-radius: 5px;
    display: none;
    width: 120px;
    text-align: center;
    padding: 4px;
    margin: 4px;
    background-color: gainsboro;
    cursor: pointer;
    border: 1px solid darkgrey;
    display: inline;
    float: left;
}
#tradersSelectSSO {
    float: left;
    margin-right: 10px;
}
.manageTraderPasswordButton div:hover {
    border: 1px solid red;
    background-color: darkgray;
}
#tradersSelect {
    margin-right: 15px;
    margin-top: 8px;
}
#messageLabel {
    float: left;
    margin-top: 8px;
    margin-left: 10px;
}
#ssoInput label 
{
    padding-top: 10px;
    padding-right: 10px;
    float: left;
}
#ssoInput div {
    display: inline;
    float: left;
}
#ssoInput input {
    margin-right: 10px;
    float: left;
}
#ssoAdminPasswordInput {
    margin-right: 15px;
}